@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* Colors */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 80%;
  margin: 2rem auto;
  color: var(--Transparent-white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 350px;
}

.card {
  padding: 3rem 2.5rem 2rem;
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
  color: var(--Very-light-gray);
}

.card-text {
  font-size: 0.92rem;
  line-height: 1.5rem;
}

.btn {
  background-color: var(--Very-light-gray);
  margin: 1.2rem auto 0.5rem;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--Bright-orange);
  font-size: 0.92rem;
}

.card1 .btn:hover,
.card2 .btn:hover,
.card3 .btn:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: var(--Very-light-gray);
}

.card1 {
  background-color: var(--Bright-orange);
}

.card2 {
  background-color: var(--Dark-cyan);
}

.card2 .btn {
  color: var(--Dark-cyan);
}

.card3 {
  background-color: var(--Very-dark-cyan);
}

.card3 .btn {
  color: var(--Very-dark-cyan);
}

@media screen and (min-width: 768px) {
  main {
    height: 95vh;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 750px;
  }
  .card3 {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1050px;
  }

  .btn {
    margin-top: 5rem;
  }

  .card3 {
    grid-column: 3/4;
  }
}
